<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom" bis_skin_checked="1">
  <h1 class="h3">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0" bis_skin_checked="1">
    <div class="btn-group mr-2" bis_skin_checked="1">
    </div>
  </div>
</div>
  <h2>Welcome <%=current_account.roles%></h2>
</div>
</div>
