<div class="container mt-5">
  <h1>New Payment Plan</h1>

  <%= render 'form', payment_plan: @payment_plan %>

  <%= link_to 'Back', property_payment_plans_path(@property.id), class:"btn btn-info" %>
</div>
