
<footer  style='margin-top:180em; margin-left:1px'>
    <div class="container">
        <div class="text-center">
           <a href="#" class='p-2 ml-5'><i class="fab fa-facebook fa-2x "></i></a>
          <a href="#" class='p-2 ml-5'><i class="fab fa-dropbox fa-2x "></i></a>
          <a href="#" class='p-2 ml-5'><i class="fab fa-flickr fa-2x "></i></a>
          <a href="#" class='p-2 ml-5'><i class="fab fa-github fa-2x "></i></a>
          <a href="#" class='p-2 ml-5'><i class="fab fa-linkedin fa-2x"></i></a>
          <a href="#" class='p-2 ml-5'><i class="fab fa-tumblr fa-2x"></i></a>
         </div>
      </div>
</footer>

<div class="copyright " style="margin-right:100px">
    <div class="container">
        <div class="text-center">
           <p>Copyright © 2021 All rights reserved</p>
        </div>
    </div>
</div>
